@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;800&display=swap');

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

header{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)),url(img/bg.webp);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.navbar{
	height: 9%;
	width: 100vw;
	display: flex;
	align-items: center;
	position: fixed;
	transition: 1s;
}
.navbar.black{
	background: #000;
	z-index: 3;
}
.menu-icon{
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin-right: 80px;
}
.logo img{
	height: 20vh;
	width: auto;
	cursor: pointer;
	margin-left: 100px;
}
.menu{
	font-family: 'Kanit', sans-serif;
	flex: 1;
	text-align: right;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	margin-right: 30px;
	letter-spacing: 5px;

}
nav ul li{
	list-style: none;
	margin: 35px 0;
}
nav ul li a{
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	text-decoration: none;
	font-size: 50px;
	color: #fff;
	padding: 10px;
	letter-spacing: 10px;
	position: relative;
	z-index: 4;
}
nav ul li a::after{
	content: '';
	height: 3px;
	width: 0;
	background: #ccf511;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.5s;
}
nav ul li a:hover::after{
	width: 100%;
}
nav{
	position: absolute;
	width: 100%;
	height: 100vh;
	background:  #000;
	z-index: 6;
	top: -100vh;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: 0.5s;

}
.bg-menu{
	font-family: 'Kanit', sans-serif;
	color: #333;
	font-size: 300px;
	letter-spacing: 100px;
	opacity: 0.2;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-weight: 800;
	z-index: 1;
}
.close-icon{
	width: 60px;
	height: 60px;
	position: absolute;
	right: 80px;
	top: 30px;
	cursor: pointer;

}
.name{
	font-family: 'Kanit', sans-serif;
	color: #fff;
	font-weight: 800;
	font-size:40px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	letter-spacing: 10px;

}
.words{
	position: absolute;
	height: 90px;
	width:820px;
	top: 70%;
	left: 50%;
	transform: translate(-45%, 60%);
	overflow: hidden;
}
span{
	color: #ccf511;
	padding-left: 30px;
	padding-top: 15px;
	display: block;
	font-size: 65px;
	animation: spin_words 13s infinite;
}
@keyframes spin_words{
	25%{
		transform: translateY(-110%);
	}
	50%{
		transform: translateY(-210%);
	}
	75%{
		transform: translateY(-310%);
	}
	100%{
		transform: translateY(-400%);
	}
}

.about{
	width: 100%;
	height: 600px;
	background: #333;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: flow;
}
.foto{
	height: 75%;
	box-shadow: 5px 5px 0px #ccf511;
	margin-left: 2%;
}
.aboutme{
	font-family: 'Kanit', sans-serif;
	margin-top: -50px;
	padding: 70px;
	color: #fff;
	font-size: 1.5em;
	text-align: justify;
}
button{
	font-family: 'Kanit', sans-serif;
	background-color: #ccf511;
	font-size: 1.5em;
	font-weight: 700;
	position: absolute;
	left: 29%;
	border: 2px solid #ccf511;
	padding: 20px 20px;
	border-radius: 10px;
	margin-top: 8%;
	cursor: pointer;
	transition-duration: 0.5s;
}
button:hover{
	background-color: #333;
	color: white;
}
.portfolio{
	width: 100%;
	height: 4500px;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.flexproject{
	width: 80vw;
	height: 600px;	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.main{
	width: 30%;
	height: 560px;
	margin: 20px;
	background-color: #333;	
	display: flex;
	flex-wrap: wrap;
	order: 1;
}
.flexbox-foto-1{
	width: 100%;
	flex-shrink: 0;
}
.secondary{
	height: 560px;
	width: 1000px;
	margin: 20px;
	margin-left: 0;
	display: flex;
	flex-wrap: wrap;
	order: 2;
}
.flexbox-foto-2{
	margin-right: 20px;
	max-height: 300px;
	width: 480px;
	flex-grow: 1;
	order: 1;
}
.flexbox-foto-3{
	max-height: 300px;
	width: 480px;
	flex-grow: 1;
	order: 2;
}
.flexbox-texto{
	margin-top: 20px;
	background-color: #333;
	max-height: 270px;
	width: 1000px;
	order: 3;
	box-shadow: 5px 5px 0px #ccf511;
}
.lamp1{
	background-image: url(img/lamp1.webp);
	background-size: cover;
	background-position: center;
}
.lamp2{
	background-image: url(img/lamp2.webp);
	background-size: cover;
	background-position: center;
}
.lamp3{
	background-image: url(img/lamp3.webp);
	background-size: cover;
	background-position: center;
}
.farma1{
	background-image: url(img/farma_1.webp);
	background-size: cover;
	background-position: center;
}
.farma2{
	background-image: url(img/farma_3.webp);
	background-size: cover;
	background-position: center;
}
.farma3{
	background-image: url(img/farma_2.webp);
	background-size: cover;
	background-position: center;
}
.stok1{
	background-image: url(img/stok_1.webp);
	background-size: cover;
	background-position: center;
}
.stok2{
	background-image: url(img/stok_2.webp);
	background-size: cover;
	background-position: center;
}
.stok3{
	background-image: url(img/stok_3.webp);
	background-size: cover;
	background-position: center;
}
.flexphoto{
	width: 90vw;
	height: 600px;	
	display: flex;
	flex-direction: row;
}
.flexbox-pic{
	margin: 20px;
	width: 50%;
	box-shadow: 5px 5px 0px #ccf511;
}
.foto1{
	background-image: url(img/foto_1.webp);
	background-size: cover;
	background-position: center;	
}
.foto2{
	background-image: url(img/foto_2.webp);
	background-size: cover;
	background-position: center;	
}
.foto3{
	background-image: url(img/foto_3.webp);
	background-size: cover;
	background-position: center;	
}
.foto4{
	background-image: url(img/foto_4.webp);
	background-size: cover;
	background-position: center;	
}
.foto5{
	background-image: url(img/foto_5.webp);
	background-size: cover;
	background-position: center;	
}
.foto6{
	background-image: url(img/foto_6.webp);
	background-size: cover;
	background-position: center;	
}
.contact{
	background-color: #333;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icono{
	height: 70px;
	width: 70px;
	margin-left: 100px;
	margin-right: 100px;
	cursor: pointer;
}