@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;800&display=swap');

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

header{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)),url(img/bg.JPG);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.navbar{
	height: 9%;
	width: 100vw;
	display: flex;
	align-items: center;
	position: fixed;
	transition: 1s;
}
.navbar.black{
	background: #000;
	z-index: 3;
}
.menu-icon{
	width: 50px;
	cursor: pointer;
	margin-right: 80px;
}
.logo img{
	height: 6vh;
	cursor: pointer;
	margin-left: 100px;
}
.menu{
	font-family: 'Kanit', sans-serif;
	flex: 1;
	text-align: right;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	margin-right: 30px;
	letter-spacing: 5px;

}
nav ul li{
	list-style: none;
	margin: 35px 0;
}
nav ul li a{
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	text-decoration: none;
	font-size: 50px;
	color: #fff;
	padding: 10px;
	letter-spacing: 10px;
	position: relative;
	z-index: 4;
}
nav ul li a::after{
	content: '';
	height: 3px;
	width: 0;
	background: #ccf511;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.5s;
}
nav ul li a:hover::after{
	width: 100%;
}
nav{
	position: absolute;
	width: 100%;
	height: 100vh;
	background:  #000;
	z-index: 6;
	top: -100vh;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: 0.5s;

}
.bg-menu{
	font-family: 'Kanit', sans-serif;
	color: #333;
	font-size: 300px;
	letter-spacing: 100px;
	opacity: 0.2;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-weight: 800;
	z-index: 1;
}
.close-icon{
	width: 50px;
	position: absolute;
	right: 80px;
	top: 30px;
	cursor: pointer;

}
.name{
	font-family: 'Kanit', sans-serif;
	color: #fff;
	font-weight: 800;
	font-size:40px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	letter-spacing: 10px;

}
.words{
	position: absolute;
	height: 90px;
	width:820px;
	top: 70%;
	left: 50%;
	transform: translate(-45%, 60%);
	overflow: hidden;
}
span{
	color: #ccf511;
	padding-left: 30px;
	padding-top: 15px;
	display: block;
	font-size: 65px;
	animation: spin_words 13s infinite;
}
@keyframes spin_words{
	25%{
		transform: translateY(-110%);
	}
	50%{
		transform: translateY(-210%);
	}
	75%{
		transform: translateY(-310%);
	}
	100%{
		transform: translateY(-400%);
	}
}

.about{
	width: 100%;
	height: 600px;
	background: #333;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: flow;
}
.foto{
	height: 500px;
	box-shadow: 2px 2px 6px #000;
	margin-left: 2%;
}
.aboutme{
	font-family: 'Kanit', sans-serif;
	margin-top: -50px;
	padding: 70px;
	color: #fff;
	font-size: 25px;
	text-align: justify;
}
button{
	font-family: 'Kanit', sans-serif;
	background-color: #ccf511;
	font-size: 20px;
	font-weight: 700;
	position: absolute;
	left: 27%;
	border: 2px solid #ccf511;
	padding: 20px 20px;
	border-radius: 10px;
	margin-top: 8%;
	cursor: pointer;
	transition-duration: 0.5s;
}
button:hover{
	background-color: #333;
	color: white;
}
.portfolio{
	width: 100%;
	height: 2000px;
	background: #000;
}
